<!-- This base page is basically an additional layout that I'm using for the header -->

<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>HaikuMaker</title>
    {% endif %}
  </head>
  <body>
    <a href="/index">Home</a>
    <a href="/betterHaiku">betterHaiku</a>
    <a href="/index">test2</a>
    <form action="http://google.com"><input type="submit" value="go to google"></form>
    <form action="/index"><input type="submit" value="button test 2"></form>

    <!-- I might just use these types of buttons -->
    <input type=button onClick="location.href='index'" value="Index">
    <input type=button onClick="location.href='betterHaiku'" value="betterHaiku">
    <hr>

    {% block content %}{% endblock %}
  </body>
</html>