<!-- This is the main index page -->

<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/haikucss.css') }}">
  <head>
    <!-- if you want to use python function you wrap in brackets with % symbols -->
    {% if title %}

    <!-- Just using a variable you can use double brackets wrapped -->
    <title>{{ title }} - HaikuMaker</title>
    {% else %}
    <title>Welcome to HaikuMaker</title>
    {% endif %}
  </head>
  <body>
    {% extends "base.html" %}
	{% block content %}
	    <h1>Hi, {{ user.nickname }}!</h1>
	    {% for post in posts %}
	    <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
	    {% endfor %}
	    <p>{{blah}} </p>
      <pre id="newlines">{{blah2}} </pre>
      <input type="submit" name="submit" value="Do Something">
      <input type="submit" name="submit" value="Do Something Else">
	{% endblock %}
  </body>
</html>